/***** BASE STYLES *****/
body {
font-family: 'Montserrat', sans-serif;
color: #087e8b;
}

/*css reset*/

  * {
    margin: 0;
    Padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }

/***** GRID *****/
.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

.twothird-width
{
  width: 800px;
  float: left;
}

/*** HEADER ***/

header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #087e8b;
  width: 100%;
  height: 60px;
  opacity: 0.9;
  position: fixed;
  top: 0;

}

nav a {
  font-weight: bold;
    text-decoration: none;
    color: #a8c40d;
    margin: 0 32px 0 32px;
    transition:  0.3s;

    }

  a:hover, a.selected {
    color: white;
    }

header h2 {
  font-size:28px;
  font-family: 'Montez', cursive;
  color: #a8c40d;
  font-weight: bold;
  margin-left: 32px
  }

header h2 span {
  display: inline-flex;
}
header span:nth-child(even){
  overflow:hidden;
  transition:ease-in-out 0.8s;
  color:#97b9b2;
  letter-spacing:-1em;
}
header h2:hover span:nth-child(even){
  letter-spacing:0;
}

.intro {
    height: 650px;
    background: url('../img/cover5.png');
    background-size: cover;
}


.intro h2 {
  font-size: 50px;
  text-align: center;
  width: 1000px;
  clear: both;
  padding: 300px 0 20px 25px;
  align-items: center;
  margin-left: 180px;
  color: black;
  font-weight: bold;
}

.intro h2 span {
  color: #087e8b;
}


/*** Portofolio ***/

#portofolio {
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 80px 48px 100px;
}

#portofolio h2 {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin: 60px 0 20px 0
  }

.work {
  display: inline-block;
  width: 300px;
  height: 350px;
  margin: 2.5em 0.5em;
  transition: transform .5s;
}

.work a {
  text-decoration: none;
  color: inherit;
  }

.work a:hover {
  color: black;
}

.work a:hover img {
  transform: scale(1.5);
}

.work1, .work4 {
  margin-left: 80px;
}

.mywork img {
  max-width: 300px;
  max-height: 300px;
  border: 1px solid #087e8b;
  box-shadow: 5px 3px 3px  #087e8b;
}

.mywork h3 {
  padding: 12px 0 12px 0;
}


/*** ABOUT ***/

#about {
  background-color: #087e8b;
  color: white;
  height: auto;
  margin: 0 auto;
  padding: 32px 80px 48px 80px;
  }


#about p {
  font-size: 18px;
  text-align: center;
  margin-left: 10px;
  line-height: 30px;
  margin-top: 10px;

}

.about-intro h2 {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin: 30px auto;
  }


.ido h2 {
  margin-left: 20px;
  margin-top: 50px;
  font-size: 28px;
  text-align: center;
  padding-bottom: 30px;

}
.ido ul li {
  display: inline-block;
  width: 350px;
  margin-top: 20px;
  text-align: center;
  margin-left: 30px;
  padding-right: 20px;


  }

.ido img {
  text-align: center;
  margin: 10px;

}

.ido p {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;

}

.ido h3 {
  font-size: 18px;
}


/**** Contact *****/

#contact {
  height: 210px;
  background-color: #095156;
  color: white;
}

}

.full-width h2 {
  font-size: 25px;
  text-align: center;
  padding-top: 30px;
}

.half-width {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  }

.half-width h3 {
  padding: 20px;
}

.half-width a {
  text-decoration: none;
  color: white;
  padding-bottom: 20px;
}

.full-width p {
  text-align: center;
  font-size: 14px;
}
